<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>
    <link rel="stylesheet" href="css/estilos.css">
    <script src="js/config.js"></script>
</head>


<body>
    <div id="app">
    <h1>Listado de Productos</h1>
    <h3>Codo a Codo 2023</h3>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Titulo</th>
                <th>IBU</th>
                <th>AI</th>
                <th>Cantidad</th>
                <th align="right">Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="producto in productos">
                <td>{{ producto.codigo }}</td>
                <td>{{ producto.titulo }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.ibu }}</td>
                <td>{{ producto.ai }}</td>
                <td align="right">{{ producto.cantidad }}</td>
                <td align="right">{{ producto.precio }}</td>
                <td>                    
                    <button @click="obtenerProducto(producto.codigo)">Editar</button>
                    <button class="delete" @click="eliminarProducto(producto.codigo)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    
    <div v-if="mostrarDatosProducto">
        <h2>Datos del Producto</h2>
        <form @submit.prevent="guardarCambios">
            <label for=tituloModificar">Titulo:</label>
            <input type="text" id=tituloModificar" v-model="titulo" required><br>

            <label for="descripcionModificar">Descripción:</label>
            <input type="text" id="descripcionModificar" v-model="descripcion" required><br>

            <label for="ibuModificar">IBU:</label>
            <input type="number" id="ibuModificar" v-model="ibu" required step="0.1"><br>

            <label for="aiModificar">AI:</label>
            <input type="number" id="aiModificar" v-model="ai" required step="0.1"><br>


            <label for="cantidadModificar">Cantidad:</label>
            <input type="number" id="cantidadModificar" v-model="cantidad" required><br>


            <label for="precioModificar">Precio:</label>
            <input type="number" step="0.01" id="precioModificar" v-model="precio" required><br>


            <button type="submit">Guardar Cambios</button>
            <a href="modificaciones.html">Cancelar</a>
        </form>
    </div>
    </div>
    <div class="contenedor-centrado">
        <a href="index.html">Menu principal</a>
    </div>


    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    productos: [],
                    codigo: '',
                    mostrarDatosProducto: false,
                    descripcion: '',
                    cantidad: '',
                    precio: ''
                }
            },
            methods: {
                obtenerProducto(codigo) {
                    console.log(codigo)
                    fetch(URL + 'productos/' + codigo)                        
                        .then(response => {           
                            console.log(response)                 
                            if (response.ok) {                                
                                return response.json()
                            } else {
                                throw new Error('Error al obtener los datos del producto.')
                            }
                        })
                        .then(data => {  
                            this.codigo = data.codigo                          
                            this.titulo = data.titulo
                            this.descripcion = data.descripcion
                            this.ibu = data.ibu
                            this.ai = data.ai
                            this.cantidad = data.cantidad
                            this.precio = data.precio
                            this.mostrarDatosProducto = true
                        })
                        .catch(error => {
                            alert('Error al obtener los datos del producto.')
                        })
                },
                guardarCambios() {
                    const producto = {
                        codigo: this.codigo,
                        titulo: this.titulo,
                        descripcion: this.descripcion,
                        ibu: this.ibu,
                        ai: this.ai,
                        cantidad: this.cantidad,
                        precio: this.precio
                    }


                    fetch(URL + 'productos/' + this.codigo, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(producto)
                    })
                        .then(response => {
                            if (response.ok) {
                                return response.json()
                            } else {
                                throw new Error('Error al guardar los cambios del producto.')
                            }
                        })
                        .then(data => {
                            alert('Cambios guardados correctamente.')
                            location.reload()
                        })
                        .catch(error => {
                            alert('Error al guardar los cambios del producto.')
                        })
                },                
                obtenerProductos() {


                    fetch(URL + 'productos')
                        .then(response => {
                            if (response.ok) {
                                return response.json()
                            } else {
                                throw new Error('Error al obtener los productos.')
                            }
                        })
                        .then(data => {
                            this.productos = data
                        })
                        .catch(error => {
                            console.log('Error:', error)
                            alert('Error al obtener los productos.')
                        })
                },
                eliminarProducto(codigo) {

                    fetch(URL + `productos/${codigo}`, { method: 'DELETE' })
                        .then(response => {
                            if (response.ok) {
                                // Eliminar el producto de la lista después de eliminarlo en el servidor
                                this.productos = this.productos.filter(producto => producto.codigo !== codigo)
                                console.log('Producto eliminado correctamente.')
                            }
                        })
                        .catch(error => {
                            console.log('Error:', error)
                            alert('Error al eliminar el producto.')
                        })
                }
            },
            mounted() {
                this.obtenerProductos()
            }
        })
        app.mount('#app')
    </script>
</body>


</html>